﻿@model System.Web.Mvc.HandleErrorInfo

@{
    var title = !string.IsNullOrEmpty(ViewBag.StatusCode) ? ViewBag.StatusCode : "500 Error";
    ViewBag.Title = title;
}

<h1 class="error">@title</h1>

@if (!string.IsNullOrEmpty(Model?.ControllerName))
{
    <p>Controller: @Model.ControllerName</p>
}

@if (!string.IsNullOrEmpty(Model?.ActionName))
{
    <p>Action: @Model.ActionName</p>
}

@if (ViewBag.Exception != null)
{
    <p>@ViewBag.Exception.Message</p>
    @*<p>@ViewBag.Exception.StackTrace</p>*@
}