﻿@model SportsStore.WebUI.Models.PagingInfoModel.ProductListModel

@{
    ViewBag.Title = "List of products";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Products Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="product-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Product Id</th>
                                <th>Product Name</th>
                                <th>Product Description</th>
                                <th>Product Category</th>
                                <th>Product Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model.Products)
                            {
                            <tr>
                                <td>@itm.ProductId</td>
                                <td>@itm.Name</td>
                                <td>@itm.Description</td>
                                <td>@itm.Category</td>
                                <td>@itm.Price</td>
                                <td>
                                    <span>@Html.ActionLink("Edit", "", new { productId = itm.ProductId }, new { @class = "btn btn-primary btn-success btn-xs" })</span>
                                    <span>@Html.ActionLink("Delete", "", new { productId = itm.ProductId }, new { @class = "btn btn-primary btn-danger btn-xs" })</span>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Product Id</th>
                                <th>Product Name</th>
                                <th>Product Description</th>
                                <th>Product Category</th>
                                <th>Product Price</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                        <div style="margin-top: 20px; margin-bottom: 20px;">
                            @Html.ActionLink("Add new Product", "", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn bg-orange btn-flat margin" })
                            @Html.PageLinks(Model.PagingInfoModel,x => Url.Action("List",new {page = x}))
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

