﻿.field-validation-error { color: #f00;}
.field-validation-validaation-valid { display: none;}
.input-validation-error { border: 1px solid #f00; background-color: #fee;}
.validation-summary-valid { display: none;}
